[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST=cart.rdevopsb72.online
Environment=CART_PORT=8080
Environment=USER_HOST=user.rdevopsb72.online
Environment=USER_PORT=8080
Environment=AMQP_HOST=rabbitmq.rdevopsb72.online
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=rabbitmq_app_password

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target
